{% extends "appbuilder/base.html" %}
{% block content %}
    <h1>Robot Framework runs</h1>
    <table>
        <thead>
        <tr>
            <th>Run ID</th>
            <th>Run status</th>
            <th>Run log</th>
            <th>Report</th>
            <th>Log</th>
            <th>Metrics</th>
            <th>Last modified</th>
        </tr>
        </thead>
        <tbody>
    {% for run in runs %}
        <tr>
            <th><a href="/robot/run/{{ run.key.name }}">{{ run.key.name }}</a></th>
            <th>{{ run.status }}</th>
            <th>{{ run.run_log }}</th>
            <th>{{ run.report }}</th>
            <th>{{ run.log }}</th>
            <th>{{ run.metrics }}</th>
            <th>{{ run.modified }}</th>
        </tr>
  {% endfor %}
        </tbody>
    </table>
{% endblock %}