{% extends "appbuilder/base.html" %}
{% block content %}
    <h1>Robot Framework runs</h1>
    <table>
        <thead>
        <tr>
            <th>Run ID</th>
            <th>Run status</th>
            <th>Report</th>
            <th>Log</th>
            <th>Metrics</th>
            <th>Last modified</th>
        </tr>
        </thead>
        <tbody>
    {% for run in runs %}
        <tr>
            <th><a href="/robot/run/{{ run.key.name }}">{{ run.key.name }}</a></th>
            <th>{{ run.status }}</th>
            <th><a href="{{ run.report }}">Report</a></th>
            <th><a href="{{ run.log }}">Log</a></th>
            <th><a href="{{ run.metrics }}">Metrics</a></th>
            <th>{{ run.modified.strftime('%d.%m.%Y %H:%M:%S') }}</th>
        </tr>
  {% endfor %}
        </tbody>
    </table>
{% endblock %}